* { 
    box-sizing: border-box; /* border y el padding cuente como anchura */
    font-family: 'Open Sans', sans-serif !important;
}

body {
    overflow-x: hidden;
}

a { 
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    height: auto;
}

input {
    font-size: inherit;
}

