.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1em;
}

.block-center-row {
    display: flex;
    justify-content:center;
    flex-direction: row;
}
.block-center-row1 {
    display: flex;
    justify-content:flex-start;
    flex-direction: row;
}


.row-full {
    width: 100vw;
    position: absolute;
    left: 50%;
    right: 50%;
    margin-right: -50vw;
    margin-left: -50vw;
}

 /* margenes y padding */

.mb-05 {
    margin-bottom: .5em;
}

.mb-1 {
    margin-bottom: 1em;
}

.mb-2 {
    margin-bottom: 2em;
}

.mb-3 {
    margin-bottom: 3em;
}
.mb-4 {
    margin-bottom: 4em;
}
.mb-5 {
    margin-bottom: 5em;
}
.mb-6 {
    margin-bottom: 6em;
}

.pad-1 {
    padding: 1em;
}

.pad-2 {
    padding: 2em;
}
.pad-3 {
    padding: 0.5em;
}
.pad-4 {
    padding: 4em;
}
.pad-5 {
    padding: 5em;
}
.pad-6 {
    padding: 6em;
}
.separator-block {
    padding-right: 2em;
}

