/* fondos */
.bg-dark {
    background-color: rgb(44, 168, 96, 0.685) ;
}

.bg-light {
    background-color: #ededed;
}

.txt-color {
    color: red;
} 

/* corners */
.rounded {
    border-radius: 10px;
}
.caja{
    background-color: rgba(0, 0, 0, 0.5);
    color: ivory;
    display: flex;
     
    }

